

<mat-drawer-container class="example-container">

    <mat-drawer #sideNav mode="side" [opened]="isSidebarOpen" position="end">

       <div class="sidebar">

          <button (click)="sidebarClose()"  class="side-nav-btn">[X]</button>

           <mat-tab-group [selectedIndex]="sideBarTabIndex">
               <mat-tab label="Comments" >
               </mat-tab>
               <mat-tab label="Messages">
                   <div *ngIf="messagePortalService.messagesPortal$| async as portal">
                     <div class="portal_container">
                       <ng-container [cdkPortalOutlet]="portal"></ng-container>
                     </div>
                   </div>
               </mat-tab>
           </mat-tab-group>

        </div>

    </mat-drawer>

    <mat-drawer-content>

<section id="main" >

<div *ngIf="board$ | async as board else loading" class="board-title">

<ng-template #loading>
        <p>Task pipoeline is loading ...</p>
</ng-template>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="20px"
     fxLayoutGap.xs="2px"
     class="scroll-this">
   <span *ngFor="let column of board.columns | sort">

       <div class="column-spacer" fxFlex="320px">

         <app-column-component
           [column]="column"
           [onShowMessages]="onShowMessages"
           [boardSubject$]="boardSubject$"
           [onTransition]="onTransition"
           [onClickColumnTitle]="onClickColumnTitle"
           [validateDropRules]="validateDropRules"
           [onRemoveColumn]="onRemoveColumn"
           [onAddCard]="onAddCard"
           [onDeleteCard]="onDeleteCard"
           [onUpdateCard]="onUpdateCard"
           [onShowMessages] = "onShowMessages"
           [onShowNotifications] ="onShowNotifications"
           [onShowProjectRooms] = "onShowProjectRooms"
           [onRemoveFromFavorites]  = "onRemoveFromFavorites"
           [onShowDocuments] = "onShowDocuments"
           [onArrowPress] = "onArrowPress"
           [onShowTask]="onShowTask"
           >

         </app-column-component>
        </div>
  </span>
 </div>


</div>
</section>

</mat-drawer-content>

</mat-drawer-container>
