<div>
  <div *ngIf="board$ | async as board">
      <div [ngClass]="{'drag-column-frame-red':dragColumnFrameClass==='red','drag-column-frame-green':dragColumnFrameClass==='green','drag-column-frame-none':!dragColumnFrameClass}"  (dragover)="handleDragOver_ColFrame($event,column)"
           (drop)="handleDrop_ColFrame($event,column)" (dragend)="handleDragEnd_ColFrame($event)">
      <div class="column-header-outer">
        <div class="column-header">
         <div class="column-heading-row">
             <div class="column-heading-left">
                 <div *ngIf="toggleColumnTitleEdit" style="height:10px">
                 <form  (ngSubmit)="onColumnTitleSubmit()">
                     <div style="display:flex">
                       <input name="title" [(ngModel)]="column.title" #title="ngModel" required title >
                       <button mat-button type="submit">
                           <mat-icon>check</mat-icon>
                       </button>
                     </div>
                 </form>
                 </div>
                 <div *ngIf="!toggleColumnTitleEdit" (click)="onColumnTitleClick()">
                     {{column.title}}
                 </div>
             </div>
             <div [matBadge]="getCardCount()" matBadgeOverlap="false" class="column-heading-right" matBadgeColor="white" matBadgeSize="medium" ></div>
         </div>
        </div>
      </div>
     <div class="drag-card-frame-none">z</div>
     <div class="card-list" [attr.column-id]="column.id">
        <div *ngFor="let card of getCards(column.id,board) | sortCards">
            <app-card-component
                    [ngClass]="{'drag-card-frame-red-oncard':dragCardFrameRedId==card.id}"
                    [card]="card"
                    [boardSubject$]="boardSubject$"
                    [onShowMessages]="onShowMessages"
                    [onAddCard]="onAddCard"
                    [onUpdateCard]="onUpdateCard"
                    [onDeleteCard]="onDeleteCard"
                    [onShowNotifications] ="onShowNotifications"
                    [onShowProjectRooms] = "onShowProjectRooms"
                    [onRemoveFromFavorites]  = "onRemoveFromFavorites"
                    [onShowDocuments] = "onShowDocuments"
                    [onArrowPress] = "onArrowPress"
                    [onShowTask]="onShowTask"
                    [validateDropRules]="validateDropRules"
                    [dragColorRedCardEvt]="dragColorRedCardEvt">
            </app-card-component>


         <div
                 [ngClass]="{'drag-card-frame-green':dragCardFrameGreenId==card.id,'drag-card-frame-none':!dragCardFrameGreenId}"
                 droppable="true"
                 draggable="true"
                 (dragover)="handleDragOver_CardFrame($event,card)"
                 (drop)="handleDrop_CardFrame($event,card)"
                 (dragend)="handleDragEnd_CardFrame($event)"
         >=</div>

        </div>
     </div>

      </div>

  </div>

</div>
