
<div  >
  <div *ngIf="board$ | async as board">

      <div [ngClass]="dragColumnFrameClass" class="drag-column-container" (dragover)="handleDragOver_ColFrame($event,column)"
           (drop)="handleDrop_ColFrame($event,column)" (dragend)="handleDragEnd_ColFrame($event)">

      <!--h2 class="column-header"> {{column.title}}</h2-->
      <div class="column-header-outer">
        <div class="column-header">
         <div class="column-heading-row">
             <div class="column-heading-left">
                 {{column.title}}
             </div>
             <!--mat-icon matBadge="15" matBadgeColor="warn" ></mat-icon-->
             <div [matBadge]="getCardCount()" matBadgeOverlap="false" class="column-heading-right" matBadgeSize="medium"></div>

         </div>
            <!--
           <input [value]="column.title" (input)="column.title = $event.target.value;" (click)="onColumnClick($event)"   >   />
           <button  (click)="onColumnButtonClick(column)"  >[+card]</button>
           <button  (click)="onColumnButtonClickRemove(column)"  >[-column]</button>
            -->
        </div>
      </div>
     <div class="card-list" [attr.column-id]="column.id">
        <div *ngFor="let card of getCards(column.id,board) | sortCards">
            <app-card-component
                    [card]="card"
                    [boardSubject$]="boardSubject$"
                    [onShowMessages]="onShowMessages"
                    [onAddCard]="onAddCard"
                    [onUpdateCard]="onUpdateCard"
                    [onDeleteCard]="onDeleteCard"
                    [onShowNotifications] ="onShowNotifications"
                    [onShowProjectRooms] = "onShowProjectRooms"
                    [onRemoveFromFavorites]  = "onRemoveFromFavorites"
                    [onShowDocuments] = "onShowDocuments"
                    [onArrowPress] = "onArrowPress"
                    [onShowTask]="onShowTask"
                    [validateDropRules]="validateDropRules">
            </app-card-component>
            <div id="{{card.id}}"
                 [ngClass]="{'drag-card-frame-placeholder':DragCardFrameId==card.id}"
                 droppable="true"
                 draggable="true"
                 (dragover)="handleDragOver_CardFrame($event,card)"
                 (drop)="handleDrop_CardFrame($event,card)"
                 (dragend)="handleDragEnd_CardFrame($event)"
            >=</div>
        </div>
     </div>

      </div>

  </div>

</div>
