
.drag-color-ok{
  border-color: greenyellow;
  border-width: 5px;
  border-style: dashed;
}

.drag-color-refuse{
  border-color: mediumvioletred;
  border-width: 5px;
  border-style: dashed;
}


.drag-color0{
  background-color: white;
  border-style: none;
}

.drag-card-frame-green{
  min-height: 200px;
  height: 200px;
  background-color:lightgoldenrodyellow;
}

.drag-card-frame-red{
  min-height: 200px;
  height: 200px;
  background-color:palevioletred;
}

.drag-column-frame-green{
  background-color:lightgoldenrodyellow;
}

.drag-column-frame-red{
  background-color:palevioletred;
}

.drag-column-frame-off{
}



.column {

  border: 3px solid gray; /* border around card */
  background-color: #E2E4E6;
  /* border-radius: 10px;  rounded corners of card */
  width:  400px; /* !!! width of Column */
  margin-left: 10px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  padding: 15px 15px 15px 15px;
}
.column h4 {
  color: #4d4d4d;
  line-height: 100%;
  margin-left: 10px;
  margin-top: 8px;
  font-weight: 700;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 3px;
  height: 18px;
  width: 260px;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
}


/* This outer which embeds inter is to make vertical alignement */
.column-header-outer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:60px;
  background-color: #4F5B6B;
}


.column-header {
  width:100%;
  color: #FFFFF9;
  height: 20px;
  min-height: 20px;
  border: none;
  line-height: 18px;
  padding-left: 15px; /* this is left offset for column text */
  font-size: 18px;
  border-radius: 3px;
  margin: 0px 0px 0px 0px;
  /* background-color: #4F5B6B; column header background color */
}
.add-card {
  color: #999;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  padding: 8px 10px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease;
}
.add-card:hover {
  text-decoration: underline;
  color: #666;
  background-color: #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.add-card input {
  margin-left: -5px;
  line-height: 18px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  padding: 5px 5px 4px 5px;
  width: calc(100% - 10px);
}
ul.card-list {
  padding: 31px 11px 32px 9px;
  margin: -26px 0 -31px 0;
}
ul.card-list > li {
  list-style: none;
}
.column-heading-row{
  display: flex;
  flex-direction: row;
}

.column-heading-left{
  margin-left: 15px;
/*  border-style: solid;
  border-width: 1px;*/
  width:100px;
  min-width:100px;
}
.column-heading-right{
  text-align: right;
  margin-left: 50px;
  horiz-align: right;
  width:100px;
  min-width:100px;
}


.drag-column-container{ /* make sure its here for drag band drop to work*/
  min-height:800px;
  width:100%;
}
