
<div class="message-area" >
    {{messageArea}}
</div>

<dvtx-status-pipeline
        [boardSubject$]="boardSubject$"
        [onTransition]="onTransition"
        [onClickColumnTitle]="onClickColumnTitle"
        [validateDropRules]="validateDragFunction"
        [onAddCard]="onAddCard"
        [onUpdateCard]="onUpdateCard"
        [onRemoveColumn]="onRemoveColumn"
        [onShowMessages]="onShowMessages"
        [onDeleteCard]="onDeleteCard"
        [onShowNotifications] ="onShowNotifications"
        [onShowProjectRooms] = "onShowProjectRooms"
        [onRemoveFromFavorites]  = "onRemoveFromFavorites"
        [onShowDocuments] = "onShowDocuments"
        [onArrowPress] = "onArrowPress"
        [onShowTask]="onShowTask"
        [messagePortalService]="messagePortalService"
>


</dvtx-status-pipeline>

<!--div>
 {{boardSubject$ | async | json }}}}
</div-->
