<!--div class="space-card" [ngClass]="{'drop-above':dragNodeState=='above'}">
</div-->
	<mat-card class="card card-left-color-marker-red" draggable="true" (dragstart)="handleDragStart($event,card)" (dragover)="handleDragOver($event,card)"
	 (drop)="handleDrop($event,card)" (dragend)="handleDragEnd($event)"  (click)="clickOnCard(card)"  (keyup.enter)="clickExitUpdate()"
			  [ngClass]="{'drop-above':dragNodeState=='above','drop-below':dragNodeState=='below'}" 	  >
        <mat-list>
			<mat-list-item class="card-top-row">
				<dvtx-avatar [profile]="getProfile(card)"></dvtx-avatar>
				<svg  class="dvtx-svg-size" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path d="M11 16v2h2l7.9-7.9-2-2L11 16zm11.4-7.4c.2-.2.2-.5 0-.8l-1.2-1.2c-.2-.2-.5-.2-.8 0l-1 1 2 2 1-1zM7 6h2v2H7zM11 6h6v2h-6zM12 13h-1v-2h3zM7 11h2v2H7zM7 16h2v2H7z"/>
					<path d="M19 14v6H5V4h14v2l2-2c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-8l-2 2z"/></svg>
				<!--mat-icon matBadge="15" matBadgeColor="red" svgIcon="bell"></mat-icon-->
			</mat-list-item>
			<mat-list-item class="card-row-1">
					{{card.due_date}}
			</mat-list-item>
	       <mat-list-item class="card-row-2">
			   {{card.title}}
		   </mat-list-item>
			<mat-list-item class="card-row-3">
				{{card.content}}
			</mat-list-item>
			<mat-list-item class="card-bottom-row">
				<!--mat-icon svgIcon="project_room" class="svgIcon"></mat-icon>
				<mat-icon svgIcon="task" class="svgIcon"></mat-icon-->
				<svg class="dvtx-svg-size" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path d="M20 2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 18H4V4h16v16z"/>
					<path d="M8 17h4c0 1.1.9 2 2 2h2c1.1 0 2-.9 2-2v-2c0-1.1-.9-2-2-2h-2c-1.1 0-2 .9-2 2H8v-2l-3 3 3 3v-2zm6-2h2v2h-2v-2zM8 11h2c1.1 0 2-.9 2-2h4v2l3-3-3-3v2h-4c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v2c0 1.1.9 2 2 2zm0-4h2v2H8V7z"/>
				</svg>
				<mat-icon (click)="clickAnything()" class="card-header-icon-spacing"  >message</mat-icon>

				<mat-icon (click)="clickAnything()"  class="card-header-icon-spacing">info</mat-icon>
				<mat-icon (click)="clickAnything()"  class="card-header-icon-spacing">star_rate</mat-icon>
				||<mat-icon (click)="clickAnything()"  class="card-header-icon-spacing">arrow_forward</mat-icon>
			</mat-list-item>
		</mat-list>

		<!--
        <form [formGroup]="cardForm">
		<mat-card-title>
				<div class="card-title"  [ngSwitch]="isCardEditMode">
					<div *ngSwitchCase="false">
                        <a (click)="clickOnCardField($event)">{{card.title}}<small>{{card.order}} {{dragNodeState}}</small>  </a>
					</div>
					<div *ngSwitchCase="true">
						<input  mdInput type="text" formControlName="title"   required>
                     </div>
                </div>
		</mat-card-title>
		<mat-card-content>
			<div  [ngSwitch]="isCardEditMode">
			    <div *ngSwitchCase="false" (click)="clickOnCardField($event)" >{{card.content}}</div>
				<div *ngSwitchCase="true">
					<textarea mdInput class="card-textarea-input" type="text" formControlName="content"   required></textarea>
				    <a class="press-enter-text"  (click)="clickExitUpdate()"><br>Enter to complete</a>
			    </div>
			</div>
		</mat-card-content>
        <mat-card-actions>
              <button mat-button class="mini-button" (click)="clickCardDeleteButton(card)">[-]</button>
			  <button mat-button class="mini-button" (click)="clickCardEditButton(card)">[e]</button>
        </mat-card-actions>
        </form>
		-->




	</mat-card>

<!-- div class="space-card" [ngClass]="{'drop-below':dragNodeState=='below'}">
</div-->
<span #emptyItem></span>
