<!--div class="space-card" [ngClass]="{'drop-above':dragNodeState=='above'}">
</div-->
	<mat-card class="card card-left-color-marker"
			  [style.border-left-color]="card.color"
			  [class.dragColorRed]="getCardBackground(card)"
			  draggable="true" (dragstart)="handleDragStart($event,card)"  (keyup.enter)="clickExitUpdate()"
			  (ondragleave)="handleDragLeave()" >
        <mat-list>
			<mat-list-item class="card-top-row">
				<!--mat-icon svgIcon="task" class="dvtx-svg-size card-header-icon-spacing"></mat-icon-->
				<a class="card-top-row-item" id="card-top-row-item-0"  matTooltip="Show Task"
				   (click)="clickBtnShowTask(card)" >
				<svg  class="dvtx-svg-size card-header-icon-spacing"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path d="M11 16v2h2l7.9-7.9-2-2L11 16zm11.4-7.4c.2-.2.2-.5 0-.8l-1.2-1.2c-.2-.2-.5-.2-.8 0l-1 1 2 2 1-1zM7 6h2v2H7zM11 6h6v2h-6zM12 13h-1v-2h3zM7 11h2v2H7zM7 16h2v2H7z"/>
					<path d="M19 14v6H5V4h14v2l2-2c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-8l-2 2z"/>
				</svg>
				</a>
				<div [formGroup]="dueDateFg" class="card-top-row-item" id="card-top-row-item-1">
							<input [matDatepicker]="picker2" type="hidden"
								   [matDatepickerFilter]="datePickerValidator"
								   formControlName="due_date"
							>
							<mat-datepicker-toggle matSuffix [for]="picker2" matTooltip="Update Due Date"></mat-datepicker-toggle>
							<mat-datepicker #picker2 (closed)="dueDateEditClosed()"  [touchUi]="true"></mat-datepicker>
				</div>
				<div class="card-top-row-item" id="card-top-row-item-2"></div>
				<div class="card-top-row-item" id="card-top-row-item-3"></div>

				<div class="card-top-row-item" id="card-top-row-item-4"></div>


				<div *ngIf="card.hasNotifications; else placeHolderItem5"
					 class="card-top-row-item"  id="card-top-row-item-5">
				<a matTooltip="Notifications exists!" (click)="clickBtnNotifications(card)">
				   <!-- bell circle outline -->
				   <svg style="width:24px;height:24px" viewBox="0 0 24 24">
				    	<path fill="#DA4842" d="M17,16H7V15L8,14V11.39C8,10.3 8.27,9.34 8.79,8.53C9.3,7.72 10.04,7.21 11,7V6.5A1,1 0 0,1 12,5.5A1,1 0 0,1 13,6.5V7C13.96,7.21 14.7,7.72 15.21,8.53C15.73,9.34 16,10.3 16,11.39V14L17,15V16M13.5,17A1.5,1.5 0 0,1 12,18.5A1.5,1.5 0 0,1 10.5,17H13.5M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" />
				   </svg>
				</a>
				</div>
				<ng-template #placeHolderItem5>
					<div class="card-top-row-item" id="card-top-row-item-5a"></div>
				</ng-template>

				<div class="card-top-row-item"   id="card-top-row-item-6"
					 *ngIf="getDueInDays(card)!=0;else placeHolderItem6" [ngClass]="{'dueInDays':getDueInDays(card)>0,'overDue':getDueInDays(card)<0,'inRange':getDueInDays(card)===0}"
					 matTooltip="InDue is close or OverDue">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
					<path  d="M8.27,3L3,8.27V15.73L8.27,21H15.73C17.5,19.24 21,15.73 21,15.73V8.27L15.73,3M9.1,5H14.9L19,9.1V14.9L14.9,19H9.1L5,14.9V9.1M11,15H13V17H11V15M11,7H13V13H11V7" />
				</svg>
				</div>
				<ng-template #placeHolderItem6>
					<div class="card-top-row-item" id="card-top-row-item-6a" ></div>
				</ng-template>

			</mat-list-item>

			<mat-list-item class="card-row-1">
				<div >
				<div [ngClass]="{'dueInDays':getDueInDays(card)>0,'overDue':getDueInDays(card)<0,'inRange':getDueInDays(card)===0}">

				<div *ngIf="!dueDateEditTrigger; else placeHolderRow1Item1" (click)="toggleDueDateEditTrigger()">

				</div>
				<ng-template #placeHolderRow1Item1>
				<div>

				</div>
				</ng-template>

				  <span *ngIf="getDueInDays(card)>0">{{card.due_date}}  Due in {{getDueInDays(card)}}days</span>
				  <span *ngIf="getDueInDays(card)<0">{{card.due_date}} Over Due</span>
				  <span *ngIf="getDueInDays(card)==0">{{card.due_date}}</span>
				</div>
				</div>
			</mat-list-item>

	       <mat-list-item class="card-row-2">
			   {{card.title}}<small style="color:dimgrey;">[{{card.id}}]</small>
			   <dvtx-avatar size="xs" [profile]="getProfile(card)" class="card-header-icon-spacing"></dvtx-avatar>
		   </mat-list-item>
			<mat-list-item class="card-row-3">
				{{card.status}}
			</mat-list-item>
			<mat-list-item class="card-bottom-row">
				<!--mat-icon svgIcon="project-room" class="dvtx-svg-size card-header-icon-spacing"></mat-icon-->

				<a class="card-bottom-row-item"
						matTooltip="Project-Room" (click)="clickBtnProjectRoom(card)">
					<svg class="dvtx-svg-size" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M20 2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 18H4V4h16v16z"/>
						<path d="M8 17h4c0 1.1.9 2 2 2h2c1.1 0 2-.9 2-2v-2c0-1.1-.9-2-2-2h-2c-1.1 0-2 .9-2 2H8v-2l-3 3 3 3v-2zm6-2h2v2h-2v-2zM8 11h2c1.1 0 2-.9 2-2h4v2l3-3-3-3v2h-4c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v2c0 1.1.9 2 2 2zm0-4h2v2H8V7z"/>
					</svg>
				</a>

				<div class="card-bottom-row-item">
					<mat-icon
						(click)="clickBtnMessage(card)" class="card-header-icon-spacing" matTooltip="Message" >message</mat-icon>
				</div>

				<div class="card-bottom-row-item">
					<mat-icon class="card-bottom-row-item"
						*ngIf="card.favorite; else placeHolderBottomRowItem3" (click)="clickBtnFavorite(card)"  class="card-header-icon-spacing"  matTooltip="Remove Favorite">star_rate</mat-icon>
				</div>
				<ng-template #placeHolderBottomRowItem3>
					<div class="card-top-row-item" id="card-top-row-item-3a"></div>
				</ng-template>

				<div class="card-bottom-row-item">
					<mat-icon class="card-bottom-row-item"
						(click)="clickBtnUpdateCard('add')" class="card-header-icon-spacing" matTooltip="Add Card">add_to_queue</mat-icon>
				</div>

				<div class="card-bottom-row-item">
					<mat-icon class="card-bottom-row-item"
						(click)="clickBtnUpdateCard('edit')" class="card-header-icon-spacing" matTooltip="Edit Card">airplay</mat-icon>
				</div>

				<div class="card-bottom-row-item">
					<mat-icon class="card-bottom-row-item"
						(click)="clickBtnUpdateCard('delete')" class="card-header-icon-spacing" matTooltip="Delete Card">remove_from_queue</mat-icon>
				</div>

				<div class="card-bottom-row-item">
					<mat-icon class="card-bottom-row-item"
						(click)="clickBtnDocuments(card)" class="card-header-icon-spacing" matTooltip="Documents">domain</mat-icon>
				</div>

				<div class="card-bottom-row-item">
					<mat-icon class="card-bottom-row-item"
						(click)="clickBtnRightArrow(card)"  class="card-header-icon-spacing" matTooltip="Arrow function">arrow_forward</mat-icon>
				</div>

			</mat-list-item>
		</mat-list>
	</mat-card>

<span #emptyItem></span>
