

.card {
  background-color: #fff;   
  text-decoration: none;
  padding-top: 0px;
  margin: 0.5px 0 0.5px 0;
  border-radius: 3px;
  color: #4d4d4d;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  list-style: none;
  border-bottom: solid 1px #ccc;
  transition: all;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease;
}


.card-left-color-marker{
  border-left-style: solid;
  border-left-width: 8px;
}


.card:hover{
  background-color: #ddd;
}

.card textarea {
    display: inherit;
    width: 100%;
    height: 100px;
    border: none;
    font-size: 14px;
    resize: vertical;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: -2px;
}

.card-content-list{
  $mat-list-base-height: 18px;
  $mat-list-avatar-height: 20px;
  // spec requires two- and three-line lists be taller
  $mat-list-two-line-height: 20px;
  $mat-list-three-line-height: 20px;
  $mat-list-multi-line-padding: 20px;
  $mat-list-icon-size: 10px;
}


.mat-list-base .mat-list-item {
  font-size: 13px;
}


.card-title{
  font-size: 24px;
}

.card-text{
  font-size: 14px;
}

.card-item-row{
 height: 10px;
}

.press-enter-text{
  color: blue;
}

.mini-button{
  min-width: 16px;
  padding: 0 0px;
}

.space-card{
  height: 3px;
  width: 100%;
}

.drop-above {
  border-top: 10px solid yellowgreen;
  border-top-width: 5px;
}

.drop-below {
  border-bottom: 10px solid green;
  border-bottom-width: 5px;
}

.card-top-row{
  padding-top: 0px;
  margin-top: 0px;
  min-height:30px;
  max-height: 30px;
  font-size: 25px;
 /* border-width: 1px;
  border-style: inset;*/
  /*background-color: palevioletred;*/
}
.card-bottop-row{
  padding-top: 10px;
  margin-top: 10px;
  min-height:60px;
  max-height: 60px;
  /*background-color: palevioletred;*/
}
.card-row-1{
 min-height:20px;
 max-height: 20px;
 font-size: 20px;
 color:orange;
 /*background-color: palevioletred;*/
}
.card-row-2{
  min-height:20px;
  max-height: 20px;
  font-size: 20px;
  font-weight: bolder;
  /*background-color: royalblue ;*/
}
.card-row-3{
  min-height:20px;
  max-height: 20px;
  font-size: 20px;
  font-weight: bolder;
  /*background-color: goldenrod ;*/
}

.svgIcon{
  background-color: white;
}

.dvtx-svg-size{
  font-size: 24px;
  size: 24px;
  height: 24px;
  width: 24px;
  min-height: 14px;
  alignment-baseline: bottom;
}


.card-header-icon-spacing{
  padding-left: 5px;
  padding-right: 5px;

}


.dueInDays{
  color: orange;
}

.overDue{
  color: red;
}

.inRange{
  color: black;
}
