<div class="space-card" >
	<mat-card class="card" draggable="true" (dragstart)="handleDragStart($event,card)" (dragover)="handleDragOver($event,card)"
	 (drop)="handleDrop($event,card)" (dragend)="handleDragEnd($event)"  (click)="clickOnCard(card)"  (keyup.enter)="clickExitUpdate()" >
        <form [formGroup]="cardForm">
		<mat-card-title>
				<div class="card-title"  [ngSwitch]="isCardEditMode">
					<div *ngSwitchCase="false">
						<a (click)="clickOnCardField($event)">{{card.title}}</a>
					</div>
					<div *ngSwitchCase="true">
						<input  mdInput type="text" formControlName="title"   required>
                     </div>
                </div>
		</mat-card-title>
		<mat-card-content >
			<div  [ngSwitch]="isCardEditMode">
			    <div *ngSwitchCase="false" (click)="clickOnCardField($event)" >{{card.content}}</div>
				<div *ngSwitchCase="true">
					<textarea mdInput class="card-textarea-input" type="text" formControlName="content"   required></textarea>
				    <a class="press-enter-text"  (click)="clickExitUpdate()"><br>Enter to complete</a>
			    </div>
			</div>
		</mat-card-content>
        <mat-card-actions>
              <button mat-button class="mini-button" (click)="clickCardDeleteButton(card)">[-]</button>
			  <button mat-button class="mini-button" (click)="clickCardEditButton(card)">[e]</button>
        </mat-card-actions>
        </form>
	</mat-card>

</div>
<span #emptyItem></span>
